.bg-title {
	margin-bottom: 25px;
	margin-left: -25.5px;
	margin-right: -25.5px;
	background: rgb(255, 255, 255);
	overflow: hidden;
	padding: 0px 10px 9px;
}
.white-box {
	border-radius: 2px;
	margin-bottom: 30px;
	background: rgb(255, 255, 255);
	padding: 15px	;
}
.box-title {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 16px;
	margin: 0px 0px 12px;
}
.flex {
	display: flex;
}
.pdr-0 {
	padding-right: 0;
}
.pdl-0 {
	padding-left: 0;
}
.container-fluid.shortpage {
	height: calc(100vh - 135px);
}
.form-box {
	border-radius: 3px;
	box-shadow: none;
	width: 100%;
	max-width: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border: 0;
}
.form-box img {
	width: 45px;
	margin: 0 auto 10px auto;
	display: inherit;
}
.link-list {
	display: flex;
	margin-bottom: 15px;
	padding: 15px;
	overflow: auto;
}
.link-list .btn {
	margin: 2px;
	padding: 5px 10px;
	font-size: 13px;
	width: 100%;
}
.modal {
	background: rgba(0, 0, 0, 0.5);
}
.fullwidth {
	width: 100%;
}
.d-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.d-flex .form-group {
	width: 100%;
	padding: 0 5px;
}
.d-flex .form-group select.form-control {
	padding: 0 0 0 7px;
}
.d-flex .form-group:first-child {
	padding-left: 0;
}
.flex {
	display: flex;
}
.parsley-errors-list {
	list-style: none;
	padding: 0;
	color: #ea704c;
	font-size: 13px;
	padding: 5px 0;
	font-weight: 400;
}
.white-box h2 {
	font-weight: 400;
	color: #0072ce;
	font-size: 22px;
	line-height: 28px;
}
.padt-0 {
	padding-top: 0;
}
.modal-backdrop {
	background-color: #0072ce;
}
.rel-box {
	overflow: hidden;
}
.large-box {
	width: 100%;
	max-width: 500px;
}
.modal-title {
	color: #0072ce;
	font-weight: 400;
}
.modal-body .form-group:last-child{
	margin-bottom: 0;
}
.modal-header{
	border-bottom: 1px dashed #dadada;
}
.modal-action {
	margin: 0 -5px;
	text-align: left;
}
.modal-action .btn {
	
	margin: 0 5px
}
h2 {
	color: #0072ce;
	margin: 0 0 15px;
	font-size: 26px;
	font-weight: 400;
	border-bottom: 1px dashed #dadada;
	padding-bottom: 10px;
}
.slow-moving-form .form-group{
	display: inline-block;
	width: auto;
}
.slow-moving-form .form-group label span{ color: #8CC646;}