.sidebar {
	transition: 0.2s all ease;
	z-index: 1001;
	position: fixed;
	width: 230px;
	padding-top: 0px;
	height: 100%;
	top: 70px;
	right: -100%;
	overflow-y: auto;
}
.sidebar .link {
	font-size: 16px;
	transition: 0.2s all ease;
	display: block;
	border-radius: 0;
	margin: 2px 0;
	background-color: transparent;
	border: 0;
	width: 100%;
	padding: 15px 30px;
	line-height: 1;
	text-align: left;
	color: #fff;
	transition: 0.2s all ease;
}
.sidebar .link:hover,
.sidebar .link:focus,
.sidebar .link:active {
	background: linear-gradient(45deg, #0000002b, transparent);
	transition: 0.2s all ease;
	text-decoration: none;
}
.sidebar .sidebar-head {
	width: 240px;
	position: fixed;
	z-index: 10;
	left: 0px;
	top: 0px;
	padding: 4px 20px;
}
.sub-nav {
	position: fixed;
	top: 70px;
	right: -100%;
	transition: 0.2s all ease;
	bottom: 0;
	background: #0072CE;
	width: 230px;
}
.sub-nav.active > ul > li > a,
.sub-nav.active > ul > li > span {
	font-size: 14px;
	padding: 8px 40px;
	cursor: pointer;
}
.sub-nav .page-link {
	padding-top: 57px;
}
.sub-nav.active {
	right: 0%;
	transition: 0.2s all ease;
}
.sub-nav .cls span {
	background: #fff;
}
.sub-nav .cls {
	margin: 11px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: absolute;
	left: 10px;
	top: 10px;
}
.sub-nav .cls span {
	display: block;
	height: 2px;
	width: 11px;
	transform: rotate(45deg);
	background: #fff;
	margin: 15px 0 0 5px;
	position: absolute;
	right: 0;
	border-radius: 5px;
}
.sub-nav .cls span:nth-child(2) {
	top: -5px;
}
.sub-nav .cls span:first-child {
	transform: rotate(0);
	width: 20px;
	position: absolute;
	top: -1px;
	right: 1px;
}
.sub-nav .cls span:last-child {
	transform: rotate(-45deg);
	position: absolute;
	top: 3px;
}
.sub-nav .btn {
	border: 0;
	border-radius: 0;
	display: block;
	background: transparent;
	width: 100%;
	text-align: left;
	padding-left: 35px;
	padding-right: 20px;
	font-weight: 300;
	font-size: 13px;
}
.menu .sidebar {
	right: 0;
	z-index: 1;
	padding-top: 57px;
	background: #0072CE;
	transition: 0.2s all ease;
}
.menu .menu-icon {
	padding-right: 15px;
	padding-top: 23px;
	margin-left: 8px;
}
.menu .menu-icon span {
	transform: rotate(45deg);
	width: 22px;
	transition: 0.2s all ease;
}
.menu .menu-icon span:last-child {
	display: none;
}
.menu .menu-icon span:first-child {
	transform: rotate(-45deg);
	position: absolute;
	top: 23px;
	transition: 0.2s all ease;
}
.menu > .disabled {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 0;
	background: rgba(0, 114, 206, 0.25);
}