.multiselect-wrapper {
	font-family: Fira Sans, sans-serif;
	width: 100%;
}
.multiselect-wrapper .multiselect-list.active {
	padding: 0;
	border-radius: 5px;
	overflow: hidden;
	border: 0;
	box-shadow: 0 0 10px #dadada;
	left: 0;
	min-width: 162px;
}
.multiselect-wrapper hr {
	margin: 0;
}
.multiselect-wrapper ul li.active,
.multiselect-wrapper ul li:hover {
	background: #f1f1f1;
	color: #333;
}
.multiselect-wrapper .multiselect-list label {
	padding: 5px 10px;
	margin-bottom: 0;
}
.multiselect-wrapper label span {
	font-weight: 400;
}
.multiselect-wrapper .multiselect-list .multiselect-checkbox {
	margin-right: 5px;
}
.multiselect-wrapper .multiselect-input {
	margin: 0;
	width: 100%;
	padding-right: 50px;
	font-size: 12px;
	font-weight: 400;
	border: 2px solid #dadada;
	padding: 5px;
	border-radius: 3px;
}
label.multiselect-dropdown-arrow {
	border-top-color: #0072ce;
	display: none !important;
}
.multiselect-wrapper .multiselect-input:focus {
	outline: 0;
	;
}
.multiselect-input-div {
	overflow: hidden;
	height: 32px;
}
.multiselect-count:before {
	position: absolute;
	z-index: -1;
	height: 20px;
	width: 200px;
	content: "";
	background: #fff;
	right: 0;
}
.fix-select .lbl {
	font-weight: 400;
	color: #0072ce;
	padding: 20px;
	background: #f1f1f1;
	font-size: 18px;
	margin-bottom: 15px;
	letter-spacing: 1px;
}
.fix-select .multiselect-wrapper {
	width: 100%;
}
.fix-select .multiselect-input {
	border: 2px solid #dadada;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}
.fix-select .multiselect-wrapper .multiselect-list,
.fix-select .multiselect-wrapper .multiselect-list.active {
	position: static;
	box-shadow: none;
	display: block;
	border: 0;
	padding: 0;
	margin: 0;
}
.fix-select .multiselect-input-div {
	height: auto;
}
.fix-select label.multiselect-count {
	color: #333;
	font-weight: 500;
	left: -30px !important;
}
.fix-select .dialog-action {
	margin-top: 10px;
}
label.multiselect-count {
	color: #333;
	font-weight: 500;
	left: -27px !important;
}