.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	right:0;
	z-index: 99;
	background: #1d1d1ddb;
}
.header .row{
	position: relative;
}

.logo a {
	display: inline-block;
    font-weight: 700;
    font-size: 34px;
    text-transform: uppercase;
    font-family: var(--secondary-font);
    color: var(--white);
	padding:15px 0;
}
.logo a span{
	color: var(--primary-color);
}

.menu {
	text-align: right;
}

.menu ul li {
	list-style: none;
	display: inline-block;
	position: relative;
	z-index: 1;
}

.menu ul li .dropdown {
	position: absolute;
	left: -30px;
	top: 58px;
	width: 180px;
	background: #252525;
	z-index: 99;
	text-align: left;
	padding: 13px 0 20px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.menu ul li .dropdown li {
	margin-right: 0;
	display: block;
}

.menu ul li .dropdown li a {
	display: block;
	text-transform: none;
	padding: 6px 0 6px 30px;
	font-weight: 400;
}

.menu ul li .dropdown li a:after {
	display: none;
}

.menu ul li:last-child {
	margin-right: 0;
}

.menu ul li.active>a {
	color: var(--primary-color);
}



.menu ul li:hover>a {
	color: var(--primary-color);
}



.menu ul li:hover .dropdown {
	opacity: 1;
	visibility: visible;
}

.menu ul li a {
	color: var(--white-color);
	display: block;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: var(--secondary-font);
	padding: 30px 10px;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.top-option {
	text-align: right;
	padding: 9px 0;
}

.top-option .to-search {
	display: inline-block;
	padding-right: 20px;
	position: relative;
}

.top-option .to-search:after {
	position: absolute;
	right: 0;
	top: 5px;
	height: 15px;
	width: 1px;
	background: rgba(255, 255, 255, 0.3);
	content: "";
}

.top-option .to-search i {
	font-size: 16px;
	color: var(--white-color);
	cursor: pointer;
}

.top-option .to-social {
	display: inline-block;
}

.top-option .to-social a {
	display: inline-block;
	color: var(--white-color);
	font-size: 16px;
	margin-left: 15px;
}

.offcanvas-menu-wrapper {
	display: none;
}

.canvas-open {
	display: none;
}

.mobile-menu-wrapper{
	display: none;
}