
@media only screen and (min-width: 1650px) and (max-width: 1920px) {
	.menu ul li {
		margin-right: 60px;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.menu ul li {
		margin-right: 5px;
	}
	.ps-item .thumb-icon {
		left: 15px;
	}
	.blog-item .bi-pic {
		float: none;
	}
	.blog-item .bi-text {
		height: auto;
		padding: 32px 30px 30px 30px;
	}
	.blog-item .bi-pic img {
		height: auto;
	}
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
	.about-text {
		height: auto;
		padding: 120px 70px 60px 70px;
	}
	.blog-section .sidebar-option {
		padding-left: 0;
	}
	.blog-item .bi-pic {
		float: none;
	}
	.blog-item .bi-text {
		height: auto;
		padding: 32px 30px 30px 30px;
	}
	.class-details-text .cd-trainer .cd-trainer-text {
		padding-top: 30px;
	}
	.sidebar-option {
		padding-left: 0;
		padding-top: 30px;
	}
	.chart-table {
		margin-bottom: 30px;
	}
	.table-controls {
		text-align: left;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.ss-text:after {
		display: none;
	}
	.ss-text {
		padding: 72px 60px;
		margin-bottom: 30px;
	}
	.class-item .ci-text:after {
		width: 750px;
	}
	.ts_slider.owl-carousel .owl-nav button {
		left: 0;
	}
	.ts_slider.owl-carousel .owl-nav button.owl-next {
		right: 0;
	}
	.slider-sec.owl-carousel .owl-nav button {
		left: 0;
	}
	.slider-sec.owl-carousel .owl-nav button.owl-next {
		right: 0;
	}
	.menu {
		display: none;
	}
	.top-option {
		display: none;
	}
	.grid-sizer {
		width: calc(50% - 10px);
	}
	.gallery .gs-item {
		width: calc(50% - 10px);
		float: none;
	}
	.gallery .gs-item.grid-wide {
		width: 100%;
	}
	.blog-item .bi-pic img {
		height: auto;
	}
}

@media screen and (max-width:991px) {
    .mobile-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		background: rgba(0, 0, 0, 0.7);
		z-index: 999;
		height: 100%;
		width: 100%;
		visibility: hidden;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}
	.mobile-menu-overlay.active {
		visibility: visible;
	}
	.canvas-open {
		position: absolute;
		right: 15px;
		top: 25px;
		font-size: 30px;
		width: 30px;
		height: 30px;
		color: var(--white-color);
		line-height: 29px;
		text-align: center;
		z-index: 1;
		display: block;
		cursor: pointer;
	}
	.mobile-menu-wrapper {
		position: fixed;
		left: -300px;
		top: 0;
		width: 300px;
		z-index: 999;
		background: var(--primary-color);
		overflow-y: auto;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		padding: 0;
		display: block;
		padding-top:170px;
	}
	.mobile-menu-wrapper.show-offcanvas-menu-wrapper {
		left: 0;
		opacity: 1;
		visibility: visible; 
	}
	.mobile-menu-wrapper .canvas-close {
		font-size: 22px;
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 27px;
		position: absolute;
		right: 20px;
		top: 20px;
		cursor: pointer;
        color:var(--white-color)
	}
	.mobile-menu-wrapper .canvas-menu a {
        color: #fff;
        font-size: 22px;
        padding: 15px 30px;
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        text-align: right;
    }
    .mobile-menu-wrapper .canvas-menu a:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }

}

@media only screen and (max-width: 767px) {
	.menu {
		display: none;
	}
	.top-option {
		display: none;
	}
	.gallery .gs-item {
		width: 100%;
		float: none;
	}
	.gallery .gs-item.grid-wide {
		width: 100%;
	}
	.about-text {
		height: auto;
		padding: 120px 70px 60px 70px;
	}
	.class-timetable {
		overflow-x: auto;
	}
	.chart-table {
		overflow-x: auto;
	}
	.blog-section .p-0 {
		padding: 15px !important;
	}
	.blog-section .sidebar-option {
		padding-left: 0;
	}
	.blog-item .bi-pic {
		float: none;
	}
	.blog-item .bi-text {
		height: auto;
		padding: 32px 30px 30px 30px;
	}
	.class-details-text .cd-trainer .cd-trainer-text {
		padding-top: 30px;
	}
	.sidebar-option {
		padding-left: 0;
		padding-top: 30px;
	}
	.chart-table {
		margin-bottom: 30px;
	}
	.table-controls {
		text-align: left;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.ss-text:after {
		display: none;
	}
	.ss-text {
		padding: 72px 60px;
		height: auto;
	}
	.class-item .ci-text:after {
		width: 750px;
	}
	.slider-sec .hs-item {
		height: auto;
		padding: 250px 0 150px;
	}
	.slider-sec .hs-item .hi-text h1 {
		font-size: 48px;
		line-height: normal;
	}
	.ts_slider.owl-carousel .owl-nav button {
		left: 0;
	}
	.ts_slider.owl-carousel .owl-nav button.owl-next {
		right: 0;
	}
	.slider-sec.owl-carousel .owl-nav button {
		left: 0;
	}
	.slider-sec.owl-carousel .owl-nav button.owl-next {
		right: 0;
	}
	.ss-pic img {
		height: auto;
	}
	.ss-text {
		margin-bottom: 20px;
	}
	.blog-item .bi-pic img {
		height: auto;
	}
	.blog-details-hero {
		height: auto;
		padding: 160px 0 100px;
	}
	.text-404 .search-404 {
		width: 100%;
	}
	.search-model-form input {
		width: 100%;
	}
}

@media only screen and (max-width: 479px) {
	.primary-btn.appoinment-btn {
		float: none;
		margin-top: 0;
	}
	.slider-sec .hs-item .hi-text h1 {
		font-size: 38px;
		line-height: normal;
	}
	.team-title {
		margin-bottom: 20px;
	}
	.about-text {
		padding: 70px 15px 60px;
	}
	.blog-details-section .p-0 {
		padding: 15px !important;
	}
	.text-404 h1 {
		font-size: 160px;
	}
	.breadcrumb-text h2 {
		font-size: 38px;
	}
	.text-404 h1 {
		font-size: 80px;
	}
	.blog-details-text .blog-details-author {
		padding: 70px 15px 35px;
	}
	.search-model-form input {
		font-size: 28px;
	}
}